
* {
     font-family: 'Red Hat Display', sans-serif;
   }
   html, body, main {
     height: 100%;
   }
   #panel-left {
     display: flex !important;
     align-items: center;
     background: linear-gradient(#000000, #334491);
     height: 100%;
   position:absolute;
   margin:auto;
   
   }
   #panel-right {
     display: flex !important;
     align-items: center;
     background-color: #F1F6F9;
     position:absolute;
     height: 100%;
    right:0;
   }
   
   h1 {
     color: #fff;
     font-size: 50px;
     font-weight: 900;
   margin:auto;
   }
   h2 {
     color: #14274E;
     font-size: 40px;
     font-weight: 700;
   }
   
   
   #panel-left .logo-container svg {
     width: 220px;
   }
   
   
   #panel-right input {
     background-color: unset;
     border: 0;
     border-bottom: 2px solid #394867;
     border-radius: 0;
     font-weight: 400;
     width:500px;
     margin:auto;
     padding:10px;
   
   }
   
   .btn.btn-primary {
     border: 0 !important;
     border-radius: 50px !important;
     background-color: #14274E !important;
     padding: 15px 40px !important;
     color: #fff !important;
     font-weight: 400 !important;
   }
   
   .links a {
     color: #14274E;
     
   }
   
   @media only screen and (max-width: 767px) {
     #panel-left {
         display: none !important;
     }
   }